@charset "UTF-8";
/* CSS DOCUMENt */

.hidden {
   display: none;
}

.margin-bottom-large {margin-bottom: 100px;}

body {
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;
   font-family: Helvetica, sans-serif;
}

h3 {
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;
   font-family: Helvetica, sans-serif;
   margin-bottom: 10px;
   text-transform: uppercase;
}

.siteContainer {
   width: 1400px;
   height: auto;
   margin: 0 auto;
}

/* Header section */
header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   height: 46px;
   background: transparent linear-gradient(90deg, #000000 0%, #420000 100%) 0% 0% no-repeat;
}


.logo img {
   width: 135px;
   height: 40px;
}

.searchmenu {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.searchmenu label {
   height: 20px;
}
#search {
   font-weight: lighter;
   font-size: 20px;
   border-radius: 2px;
   background: transparent;
   border: none;
   outline: none;
   color: #FFFFFF;
   margin-left: 10px;
}

#search::placeholder {
   color: #FFFFFF;
}

#search:focus {
   color: rgb(255, 150, 150);
}

.navcon li {
   display: inline-block;
   margin-right: 32px;
}

.navcon a {
   text-decoration: none;
   color: #e8e8e8;
   font-weight: lighter;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 18px

}


/* HERO image Section */
.hero img {
   width: 100%;
   height: 500px;
}

/* Sections */

.sectionContainer {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.section__small {
   width: 350px;
   margin: 50px 40px;
   text-align: center;
   transition: all .2s;
}

.section__small:hover {
   transform: translateY(-5px);
   color: #C6112F;
}

.section__small--img {

   width: 350px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.section__small--img img {
   width: 350px;
   height: 300px;
}

.gradient-grey {
   background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF00 0%, #8080804B 100%) 0% 0% no-repeat;
}

.gradient-grey img {
   width: 115px;
   height: 218px;
   margin: 0 auto;
}

.section__large {
   width: 813px;
   height: 336px;
   margin: 50px 40px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.section__large p {
   width: 450px;
   background-color: rgb(240, 240, 240);
   border-radius: 4px;
   padding: 30px;
   color: rgb(77, 77, 77);
}

.section__large img {
   width: 300px;
   height: 300px;
   margin-top: 34px;
   margin-right: 38px;
}

/* About */

.about {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.section__half {
   width: 550px;
   height: 300px;
   margin: 100px 50px;
}

.center__text {
   margin-top: 50px;
}

/* Products */

.bigRed {
   color: #8B0017;
   font-weight: bold;
   font-size: 40px;
   text-align: center;
   text-transform: uppercase;
   margin-top: 50px;
}

.productTitle {
   color: #C6112F;
   font-weight: 500;
   width: 200px;
   padding: 5px;
   border-bottom: 5px solid #454545;
   margin: 20px auto;
}

.product {
   width: 350px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.linkStore {
   text-align: center;
   margin-bottom: 10px;
}

.linkStore p {
   display: inline-block;
   margin-left: 5px;
}

/* Our Beer */

.a4-row {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: baseline;
   flex-wrap: wrap;
   text-align: center;
}

.a4-row > * {
   margin: 10px 80px;
   width: 150px;
}

.bottom-border {
   border-bottom: 10px solid #454545;
   width: 90%;
   margin: 0 auto;
}


.contents__title {
   font-weight: 500;
   font-size: 28px;
}

.contents__details h2 {
   font-weight: 500;
   font-size: 50px;
   line-height: 60px;
   margin: 13px 0;
   color: #C6112F;
}

.contents__details h3 {
   font-size: 18;
   font-weight: 500;
}


/* Contact */

.contact__form {
   width: 640px;
}

.sendEmail {
   color: #8B0017;
   width: 150px;
   font-weight: 500;
   font-size: 16px;
   border-bottom: 3px solid #454545;
   margin-bottom: 20px;
}

/* Form */

.contact__form {
   width: 600px;
   height: 500px;
}

.contact__form form * {
   width: 427px;
   padding: 6px;
   font-size: 16px;
   line-height: 17px;
   font-weight: 100;
   text-transform: uppercase;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: 5px 5px 10px rgba(0, 0, 8, 0.08);
   border: 0.5px solid #5c0000;
   margin: 10px 0px;
   outline: none;

}

.contact__form form *:focus {
   background-color: rgb(240, 240, 240);
   color: black;
}

.contact__form textarea {
   height: 238px;
   resize: none;
}

.contact__form input[type=submit] {
   font-size: 14px;
   font-weight: 500;
   color: #fff;
   background: transparent linear-gradient(90deg, #1F0000 0%, #760000 100%) 0% 0% no-repeat padding-box;
   box-shadow: 0px 5px 10px #00000029;
   width: 92px;
   height: 32;
   display: block;
}

.contact__form p {
   font-size: 12px;
   line-height: 15px;
   width: 433px;
}

.infoEmail p:not(:first-child) {
   display: inline;
}

.contact__form a {
   font-size: 12px;
   line-height: 15px;
   display: inline;
   margin: 0px 5px;
}

.contactCon {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 100px 0px;
}

.contact__image img {
   width: 708px;
   height: 449px;
}

/* Footer */

footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   background: transparent linear-gradient(90deg, #000000 0%, #420000 100%) 0% 0% no-repeat;
}

.logo__footer {
   margin: 20px 0px;
   filter: drop-shadow(10px 10px 10px rgba(218, 0, 0, 0.10));
}

.nav__footer {
   margin-bottom: 40px;
}

.nav__footer li {
   display: inline-block;
   margin-right: 32px;
}

.nav__footer a {
   text-decoration: none;
   color: #c7c7c7;
   font-weight: lighter;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 18px;
}

a {
   transition: all .2s;
   color: inherit;
}

a:hover {
   color: #C6112F;
}
